![Top <](./images/watsonxdata.png "watsonxdata")

# Db2 Jupyter Notebook 
This notebook demonstrates connecting to a Db2 server using Jupyter notebooks. 

First step is to load the Db2 extensions for Jupyter.

In [ ]:
%run db2.ipynb

The Db2 database is called GOSALES. The next statement will connect to Db2 as db2inst1.

In [ ]:
userid     = "db2inst1"
password   = "db2inst1"
server     = "watsonxdata"
port       = "50000"
%sql connect to GOSALES user {userid} using {password} host {server} port {port}

Check the tables that are found in the GOSALESDW schema.

In [ ]:
%sql -grid list tables for schema GOSALESDW

Display the distinct cities that are found in the employee table.

In [ ]:
%sql -grid select distinct city from gosalesdw.emp_employee_dim

Plot a bar chart displaying the number of employees by unique city in the company.

In [ ]:
%sql -bar select city, count(*) from gosalesdw.emp_employee_dim group by city

#### Credits: IBM 2023, George Baklarz [baklarz@ca.ibm.com]