![Top <](./images/watsonxdata.png "watsonxdata")

# MySQL Code example
This code will connect to the MySQL data that is running in the watsonx.data server. First we need to import some libraries that will be used in this notebook.

In [ ]:
import pymysql                          # Needed for MySQL Connections
import sqlalchemy                       # Used for connecting logic to MySQL
import pandas as pd                     # Pandas dataframes
import matplotlib.pyplot as plt         # Plot library
import seaborn as sns                   # Seaborn plot formatting
import warnings                         # Warning library (to eliminate messages from the drivers)
warnings.filterwarnings("ignore")
from ipydatagrid import DataGrid        # Fancy display of result sets

The %sql extension used for communicating with MySQL is reset to display results in Pandas dataframes by default.

In [ ]:
%reload_ext sql
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%config SqlMagic.autocommit = True
%config SqlMagic.autopandas = True

Connect to the MySQL server. The information required for connecting to this server is:
* Userid - root
* Password - password
* Server - watsonxdata
* Port - 3306
* Database - gosalesdw

In [ ]:
userid     = "root"
password   = "password"
server     = "watsonxdata"
port       = "3306"
connection = f'mysql+pymysql://{userid}:{password}@{server}:{port}/gosalesdw'
%sql {connection}

Check the tables that are found in the GOSALESDW schema.

In [ ]:
%sql show tables

Display the distinct cities that are found in the employee table.

In [ ]:
%sql select distinct city from gosalesdw.emp_employee_dim

The results can be wrapped into a grid view for easier viewing.

In [ ]:
x = %sql select distinct city from gosalesdw.emp_employee_dim
DataGrid(x,auto_fit_columns=True)

Plot a bar chart displaying the number of employees by unique city in the company.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
sql_plot = '''
select city, count(*) as total from gosalesdw.emp_employee_dim group by city
'''
results = %sql {sql_plot}
sns.barplot(x='total', y='city', data=results, alpha=0.8)
plt.show()

#### Credits: IBM 2023, George Baklarz [baklarz@ca.ibm.com]